
@{
    ViewData["Title"] = "تراکنش کاربر";
    Layout = "~/Views/Shared/VueUserLayout.cshtml";
}

<h1>Transactions</h1>

@section VueComponents{
    <script>
        var myMixin = {
            data: {
                dialog: false
            }
        };
    </script>
}