
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessError</title>
</head>
<body>
    دسترسی برای کاربری شما تعریف نشده است.
</body>
</html>
